# conf for Black Formatter compatibility

[flake8]
ignore = E203, E266, E501, W503
# line at 119 to compel with CTO's directives
max-line-length = 119
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude  = .mypy_cache,.venv,.vscode,__pycache__
