# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv

# vscode
.vscode

# mypy
.mypy_cache

# general conf (black, mypy)
# pyproject.toml

# tinydb
*.json

# logs
logs/*.log

# todo
TODO
